---
- name: Install httpd packages
  yum: name={{item}} state=latest
  with_items:
    - httpd
    - httpd-tools

- name: Create "{{httpd_conf_dir}}"/vhosts directory
  file: path="{{httpd_conf_dir}}/vhosts" state=directory owner=root group=root mode=0755

- name: Create /var/www/domains/{{ ansible_hostname }} virtual host web root
  file: path={{item.path}} state=directory owner={{item.owner}} group={{item.group}} mode={{item.mode}}
  with_items:
    - { path: '/var/www/domains', owner: 'root', group: 'root', mode: '0755' }
    #- { path: '/var/www/domains/{{vhost_servername}}', owner: 'apache', group: 'apache', mode: '0755' }

- name: Copy over httpd config templates
  template: src={{item.src}} dest={{item.dest}} owner=root group=root mode=0644
  with_items:
    - { src: 'httpd.conf.j2', dest: '{{httpd_conf_dir}}/httpd.conf' }   
    - { src: 'vhost.conf.j2', dest: '{{httpd_conf_dir}}/vhosts/{{vhost_servername}}.conf' }
    - { src: 'welcome.conf.j2', dest: '/etc/httpd/conf.d/welcome.conf' }
  notify:
  - restart httpd

- name: Start httpd service
  service: name=httpd state=started enabled=true


# why is ansible_hostname just the short hostname?
